*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #000;
    height: 30px;
    padding: 5px;
}
header img{
    height: 20px;
}
.ms_btn-dark{
    border-radius: 20px;
}
section.ms_container{
    width: 100%;
    height: 525px;
    background-size: cover;
    background-position: center;
}
section.returnal{
    background-image: url('../img/jumbo-bg.png');
}
section:nth-child(odd) {
    color: white;
}
section:nth-child(even) {
    color: #727272;
}
section:nth-child(even) h2{
    color: black;
}



.ms_btn-red{
    border-radius: 20px;
    background-color: #CD3D0F;
    color: white;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.it_takes_two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}


